[submodule "submodules/Exanite.GameDev"]
	path = submodules/Exanite.GameDev
	url = https://github.com/Exanite-GameDev/Exanite.GameDev.git
[submodule "submodules/Silk.NET"]
	path = submodules/Silk.NET
	url = https://github.com/Exanite/Silk.NET.git
