name: Build bindings

# This workflow only builds and packs the bindings
# Regeneration is done manually right now since I don't want to handle cross-account permissions

on:
  workflow_dispatch:

jobs:
  build:
    name: Build bindings
    runs-on: windows-2025}

    steps:

      - name: Setup .NET
        uses: actions/setup-dotnet@v5
        with:
          dotnet-version: "10.0.100"

      - name: Get date for caching
        id: "get-date"
        shell: pwsh
        run: |
          echo "date=$(Get-Date -Format "yyyy-MM-dd")" >> $env:GITHUB_OUTPUT

      - name: Cache .git folder
        uses: actions/cache@v4
        with:
          path: .git
          key: git-${{ runner.os }}-${{ runner.arch }}-${{ hashFiles('**/.gitmodules') }}-${{ steps.get-date.outputs.date }}
          restore-keys: |
            git-${{ runner.os }}-${{ runner.arch }}-${{ hashFiles('**/.gitmodules') }}

      # TODO
