name: Build Native Libraries

on:
  workflow_dispatch:

jobs:
  build:
    strategy:
      matrix:
        os: [ubuntu-24.04, windows-2025, macos-15]
        library: [vma, slang, tracy]

    runs-on: ${{ matrix.os }}

    steps:

      - name: Setup .NET
        uses: actions/setup-dotnet@v5
        with:
          dotnet-version: "10.0.100-rc.2.25502.107"

      - name: Cache .git folder
        uses: actions/cache@v4
        with:
          path: .git
          key: git-{{ hashFiles('**/.gitmodules') }}

      - name: Checkout repository
        uses: actions/checkout@v5.0.0
        with:
          repository: Exanite-GameDev/Exanite.GameDev
          token: ${{ secrets._GITHUB_TOKEN }}
          submodules: recursive
          lfs: false

      - name: Setup build system
        run: dotnet build projects/Exanite.Engine.BuildSystem

      - name: Build
        run: dotnet run --project projects/Exanite.Engine.BuildSystem -- build-${{ matrix.library }}-library

      - name: Upload artifacts
        uses: actions/upload-artifact@v5
        with:
          name: ${{ matrix.library }}-${{ matrix.os }}
          path: outputs/runtimes

  combine-outputs:
    runs-on: ubuntu-latest

    if: always()
    needs: [build]

    steps:

      - name: Download artifacts
        uses: actions/download-artifact@v5
        with:
          path: artifacts

      - name: Combine into one folder
        run: |
          mkdir combined
          cp -r artifacts/*/* combined

      - name: Upload artifacts
        uses: actions/upload-artifact@v5
        with:
          name: combined
          path: combined
