name: Build native binaries

on:
  workflow_dispatch:

jobs:
  build:
    strategy:
      fail-fast: false
      matrix:
        output:
          # - freetype-library
          # - harfbuzz-library
          # - slang-library
          - tracy-exe
          # - tracy-library
          # - vma-library

        os:
          - ubuntu-24.04
          # - windows-2025
          # - macos-15

    name: ${{ matrix.output }} (${{ matrix.os }})
    runs-on: ${{ matrix.os }}

    # Use Arch Linux on Linux
    # This is because Tracy also uses Arch Linux for Github Actions
    # Using Ubuntu leads to issues with Ubuntu's dependencies being too old
    container: ${{ startsWith(matrix.os, 'ubuntu') && 'archlinux:base-devel' || null }}

    env:
      EXANITE_BUILD_OUTPUT: submodules/Exanite.GameDev/outputs/native

    steps:

      # We always install all dependencies for simplicity
      - name: Setup dependencies (Linux)
        if: "runner.os == 'Linux'"
        run: |
          # Set locale
          echo "en_US.UTF-8 UTF-8" > /etc/locale.gen
          locale-gen
          export LC_ALL=en_US.UTF-8
          
          # Initialize keyring
          sudo pacman-key --init
          sudo pacman-key --populate archlinux
          
          # Enable Chaotic AUR for faster installs
          sudo pacman-key --recv-key 3056513887B78AEB --keyserver keyserver.ubuntu.com
          sudo pacman-key --lsign-key 3056513887B78AEB
          
          sudo pacman --noconfirm -U 'https://cdn-mirror.chaotic.cx/chaotic-aur/chaotic-keyring.pkg.tar.zst'
          sudo pacman --noconfirm -U 'https://cdn-mirror.chaotic.cx/chaotic-aur/chaotic-mirrorlist.pkg.tar.zst'
          
          echo -e "\n[chaotic-aur]\nInclude = /etc/pacman.d/chaotic-mirrorlist" >> /etc/pacman.conf
          
          # Update and install Git
          pacman --noconfirm -Syu
          pacman --noconfirm -S --needed git
          
          # Create non-root user for yay (yay cannot run as root)
          useradd -m workflow-user
          echo "workflow-user ALL=(ALL) NOPASSWD: ALL" >> /etc/sudoers
          
          # Install yay
          su workflow-user -c "git clone https://aur.archlinux.org/yay-bin.git /tmp/yay-bin"
          su workflow-user -c "cd /tmp/yay-bin && makepkg -si --noconfirm"
          
          # Exanite.Engine
          # AUR packages: dotnet-sdk-bin powershell-bin
          su workflow-user -c "yay --noconfirm -S dotnet-sdk-bin powershell-bin clang binutils"
          
          # harfbuzz-library
          su workflow-user -c "yay --noconfirm -S --needed pkgconf ragel gtk-doc gcc freetype2 glib2 cairo"
          
          # tracy-library / tracy-exe
          # Dependency list is verbatim from https://github.com/wolfpld/tracy/blob/master/.github/workflows/linux.yml
          su workflow-user -c "yay --noconfirm -S --needed freetype2 debuginfod wayland dbus libxkbcommon libglvnd meson cmake git wayland-protocols nodejs lua"
          
          # Disable Git ownership issue check
          git config --global --add safe.directory "*"

      - name: Enable long paths for Git (Windows)
        if: "runner.os == 'Windows'"
        run: git config --system core.longpaths true

      - name: Setup MSVC (Windows)
        if: "runner.os == 'Windows'"
        uses: TheMrMilchmann/setup-msvc-dev@v4
        with:
          arch: x64

      - name: Setup dependencies (Mac)
        if: "runner.os == 'macOS'"
        run: |
          brew update
          # harfbuzz-library
          brew install pkg-config ragel gtk-doc freetype glib cairo
          # tracy-exe
          brew install glfw freetype capstone tbb

      - name: Setup .NET (Non-Linux)
        uses: actions/setup-dotnet@v5
        if: "runner.os != 'Linux'"
        with:
          dotnet-version: "10.0.100"

      - name: Cache .git folder
        uses: actions/cache@v4
        with:
          path: .git
          key: |
            git-${{ runner.os }}-${{ runner.arch }}-{{ hashFiles('**/.gitmodules') }}-build-native
            git-${{ runner.os }}-${{ runner.arch }}-{{ hashFiles('**/.gitmodules') }}

      - name: Checkout repository
        uses: actions/checkout@v5.0.0
        with:
          token: ${{ secrets._GITHUB_TOKEN }}
          persist-credentials: true
          submodules: false
          lfs: false

      - name: Initialize Exanite.GameDev submodule
        run: |
          git config --global url."https://x-access-token:${{ secrets._GITHUB_TOKEN }}@github.com/".insteadOf "https://github.com/"
          git submodule update --init --recursive submodules/Exanite.GameDev

      - name: Setup build system
        run: dotnet build projects/Exanite.Engine.BuildSystem
        working-directory: submodules/Exanite.GameDev

      - name: Build
        run: dotnet run --project projects/Exanite.Engine.BuildSystem -- build-${{ matrix.output }}
        working-directory: submodules/Exanite.GameDev

      - name: Display symbols
        shell: pwsh
        run: |
          $outputDirectory = "${{ env.EXANITE_BUILD_OUTPUT }}"
    
          if (-not (Test-Path $outputDirectory)) {
              return
          }
      
          $filter = switch ($true) {
            $IsWindows { "*.dll" }
            $IsLinux   { "*.so" }
            $IsMacOS   { "*.dylib" }
          }
      
          $files = Get-ChildItem -Path $outputDirectory -Filter $filter -Recurse
      
          foreach ($file in $files) {
              Write-Host "Symbols for $($file.Name):"
      
              switch ($true) {
                  $IsWindows { 
                      dumpbin /EXPORTS $file.FullName 
                  }
                  $IsLinux { 
                      nm -D -g $file.FullName 
                  }
                  $IsMacOS { 
                      nm -gU $file.FullName 
                  }
              }
          }

      - name: Upload artifacts
        uses: actions/upload-artifact@v5
        with:
          name: ${{ matrix.output }}-${{ matrix.os }}
          path: ${{ env.EXANITE_BUILD_OUTPUT }}

  combine-outputs:
    runs-on: ubuntu-latest

    if: always()
    needs: [build]

    steps:

      - name: Download artifacts
        uses: actions/download-artifact@v5
        with:
          path: artifacts

      - name: Combine into one folder
        run: |
          mkdir combined
          cp -r artifacts/*/* combined

      - name: Upload artifacts
        uses: actions/upload-artifact@v5
        with:
          name: combined
          path: combined
