name: Test engine on Mac

on:
  workflow_dispatch:

jobs:
  test:
    name: Test engine on Mac
    runs-on: macos-15

    steps:

      - name: Setup .NET
        uses: actions/setup-dotnet@v5
        with:
          dotnet-version: "10.0.100"

      - name: Cache .git folder
        uses: actions/cache@v4
        with:
          path: .git
          key: |
            git-${{ runner.os }}-${{ runner.arch }}-{{ hashFiles('**/.gitmodules') }}-test-engine-mac
            git-${{ runner.os }}-${{ runner.arch }}-{{ hashFiles('**/.gitmodules') }}

      - name: Checkout repository
        uses: actions/checkout@v5.0.0
        with:
          token: ${{ secrets._GITHUB_TOKEN }}
          persist-credentials: true
          submodules: false
          lfs: false

      - name: Initialize Exanite.GameDev submodule
        run: |
          git config --global url."https://x-access-token:${{ secrets._GITHUB_TOKEN }}@github.com/".insteadOf "https://github.com/"
          git submodule update --init --recursive submodules/Exanite.GameDev

      - name: Setup build system
        run: dotnet build projects/Exanite.Engine.BuildSystem
        working-directory: submodules/Exanite.GameDev

      - name: Build
        run: dotnet run --project projects/Exanite.Engine.BuildSystem -- package --project Exanite.GraveyardClash
        working-directory: submodules/Exanite.GameDev

      - name: Run program and capture
        run: |
          # Run the program
          chmod +x ./submodules/Exanite.GameDev/outputs/packages/Exanite.GraveyardClash/Exanite.GraveyardClash_Mac.app/Contents/MacOS/Exanite.GraveyardClash
          DYLD_PRINT_LIBRARIES=1 DYLD_PRINT_SEARCHING_PATHS=1 DYLD_PRINT_RPATHS=1 ./submodules/Exanite.GameDev/outputs/packages/Exanite.GraveyardClash/Exanite.GraveyardClash_Mac.app/Contents/MacOS/Exanite.GraveyardClash --no-crash-popup> DyldDebug.log 2>&1 &
          APP_PID=$!
          
          # Wait for engine to initialize
          sleep 10
          
          # Screenshot entire screen
          # -x: Suppress the shutter sound
          # -t png: Format
          /usr/sbin/screencapture -x -t png Screenshot.png
          
          # Close the program
          kill $APP_PID
          sleep 2

      - name: Show DYLD logs
        if: always()
        run: cat DyldDebug.log

      - name: Upload screenshot
        uses: actions/upload-artifact@v4
        with:
          name: Screenshot
          path: Screenshot.png

      - name: Upload DYLD logs
        if: always()
        uses: actions/upload-artifact@v4
        with:
          name: DYLD logs
          path: DyldDebug.log

      - name: Upload logs
        if: always()
        uses: actions/upload-artifact@v4
        with:
          name: Program logs
          path: "/Users/runner/Library/Application Support/Exanite/Exanite.GraveyardClash/Logs/"

      - name: Upload package
        if: always()
        uses: actions/upload-artifact@v5
        with:
          name: Packages
          path: submodules/Exanite.GameDev/outputs/packages
