name: Test engine on Mac

on:
  workflow_dispatch:

env:
  EXANITE_PROJECT_NAME: Exanite.Engine.Examples

jobs:
  test:
    name: Test engine on Mac
    runs-on: macos-15

    steps:

      - name: Setup .NET
        uses: actions/setup-dotnet@v5
        with:
          dotnet-version: "10.0.100"

      - name: Cache .git folder
        uses: actions/cache@v4
        with:
          path: .git
          key: |
            git-${{ runner.os }}-${{ runner.arch }}-{{ hashFiles('**/.gitmodules') }}-test-engine-mac
            git-${{ runner.os }}-${{ runner.arch }}-{{ hashFiles('**/.gitmodules') }}

      - name: Checkout repository
        uses: actions/checkout@v5.0.0
        with:
          token: ${{ secrets._GITHUB_TOKEN }}
          persist-credentials: true
          submodules: false
          lfs: false

      - name: Initialize Exanite.GameDev submodule
        run: |
          git config --global url."https://x-access-token:${{ secrets._GITHUB_TOKEN }}@github.com/".insteadOf "https://github.com/"
          git submodule update --init --recursive submodules/Exanite.GameDev

      - name: Setup build system
        run: dotnet build projects/Exanite.Engine.BuildSystem
        working-directory: submodules/Exanite.GameDev

      - name: Build
        run: dotnet run --project projects/Exanite.Engine.BuildSystem -- package --project ${{ env.EXANITE_PROJECT_NAME }}
        working-directory: submodules/Exanite.GameDev

#      - name: Show dylib info before normalization
#        shell: pwsh
#        run: |
#          $folder = "./submodules/Exanite.GameDev/outputs/packages"
#          $files = Get-ChildItem -Path $folder -Filter *.dylib -Recurse
#          foreach ($file in $files) {
#              Write-Host "----------------------------------------"
#              Write-Host "Dylib info for $($file):"
#
#              Write-Host
#              $installName = otool -D $file.FullName
#              Write-Host "Install name for $($file.Name):"
#              Write-Host $installName
#
#              Write-Host
#              $rpath = otool -l $file | Select-String -Pattern "LC_RPATH" -Context 1, 2
#              Write-Host "Rpath for $($file.Name):"
#              if ($rpath) {
#                  Write-Host $rpath
#              } else {
#                  Write-Host "No rpath found"
#              }
#          }
#
#      - name: Normalize dylib rpaths
#        shell: pwsh
#        run: |
#          $folder = "./submodules/Exanite.GameDev/outputs/packages"
#          $files = Get-ChildItem -Path $folder -Filter *.dylib -Recurse
#          foreach ($file in $files) {
#              $rpaths = otool -l $file
#                  | Select-String -Pattern "path (.*) \(offset \d+\)"
#                  | ForEach-Object { $_.Matches.Groups[1].Value }
#
#              # Clear existing rpaths
#              foreach ($rpath in $rpaths) {
#                  install_name_tool -delete_rpath "$rpath" $file
#              }
#
#              # Set rpath
#              install_name_tool -add_rpath "@loader_path" $file
#
#              # Set install name
#              $newName = "@rpath/$($file.Name)"
#              install_name_tool -id "$newName" $file
#          }
#
#      - name: Show dylib info after normalization
#        shell: pwsh
#        run: |
#          $folder = "./submodules/Exanite.GameDev/outputs/packages"
#          $files = Get-ChildItem -Path $folder -Filter *.dylib -Recurse
#          foreach ($file in $files) {
#              Write-Host "----------------------------------------"
#              Write-Host "Dylib info for $($file):"
#
#              Write-Host
#              $installName = otool -D $file.FullName
#              Write-Host "Install name for $($file.Name):"
#              Write-Host $installName
#
#              Write-Host
#              $rpath = otool -l $file | Select-String -Pattern "LC_RPATH" -Context 1, 2
#              Write-Host "Rpath for $($file.Name):"
#              if ($rpath) {
#                  Write-Host $rpath
#              } else {
#                  Write-Host "No rpath found"
#              }
#          }

      - name: Run program and capture
        run: |
          # Enable DYLD
          export DYLD_PRINT_LIBRARIES=1
          export DYLD_PRINT_SEARCHING_PATHS=1
          # export DYLD_PRINT_RPATHS=1
          
          # Explicitly set ICD path (for testing)
          export VK_ICD_FILENAMES="./submodules/Exanite.GameDev/outputs/packages/${{ env.EXANITE_PROJECT_NAME }}/${{ env.EXANITE_PROJECT_NAME }}_Mac.app/Contents/Resources/vulkan/icd.d/MoltenVK_icd.json.disabled"
          
          # Run the program
          ./submodules/Exanite.GameDev/outputs/packages/${{ env.EXANITE_PROJECT_NAME }}/${{ env.EXANITE_PROJECT_NAME }}_Mac.app/Contents/MacOS/${{ env.EXANITE_PROJECT_NAME }} 1 --no-crash-popup &
          APP_PID=$!
          
          # Wait for engine to initialize
          sleep 10
          
          # Screenshot entire screen
          # -x: Suppress the shutter sound
          # -t png: Format
          /usr/sbin/screencapture -x -t png Screenshot.png
          
          # Close the program
          kill $APP_PID
          sleep 2

      - name: Upload screenshot
        uses: actions/upload-artifact@v4
        with:
          name: Screenshot
          path: Screenshot.png

      - name: Upload logs
        if: always()
        uses: actions/upload-artifact@v4
        with:
          name: Program logs
          path: "/Users/runner/Library/Application Support/Exanite/${{ env.EXANITE_PROJECT_NAME }}/Logs/"

      - name: Upload package
        if: always()
        uses: actions/upload-artifact@v5
        with:
          name: Packages
          path: submodules/Exanite.GameDev/outputs/packages
